<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>spring_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>
  
   <!--  该监听器是ServletContext(jsp中 application)的生命周期监听器，
 Tomcat启动时 contextInitialized    用于创建spring的容器WebApplicationContext ，
  Tomcat关闭时，contextDestroyed 调用容器的close方法关闭 -->
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  
  
  
  <servlet>
    <description></description>
    <display-name>MyController</display-name>
    <servlet-name>MyController</servlet-name>
    <servlet-class>cn.et.web.controller.MyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyController</servlet-name>
    <url-pattern>/myController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsController</display-name>
    <servlet-name>AddNewsController</servlet-name>
    <servlet-class>cn.et.web.controller.AddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsController</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
</web-app>